<footer id="footer">
  <div class="footer-column footer-right">
    <a href="http://coverify.com">
      <span class="footer-coverify-logo"></span>
    </a>
    <p class="footer-credit">
      Site maintained by: Coverify Systems Technology
      <%= link_to "",
	  "http://coverify.com" %>.
    </p>
  </div>
  <p>                     
    Our Kung Fu includes and is not limited to: Vlang, UVM, SystemVerilog, SystemC, C++, D, Ruby, Python, and TCL.
  </p>  
  <p>
    &copy; 2014&ndash;<%= Date.today.year %> <%= link_to "Coverify Systems Technology", "//coverify.com" %>
  </p>  
</footer>
