  <!-- <header id="header"> -->
  <!--   <h1 id="logo"> -->
  <!--     <%= link_to(image_tag("coverify_banner_512x160.png", height: 160, width: 512, title: "Coverify", alt: "Coverify"), data.site.url, title: "Coverify", rel: "home") %> -->
  <!--   </h1> -->
  <!--   <\!--<h2 class="site-description">Open Source Developer Collective</h2>-\-> -->
  <!-- </header> -->
